{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "always"]
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  }
}
